<!DOCTYPE html>
<html lang="fr" style="height: 95%;">
    <head>
	</head>
	<body style="width:60%;margin:0 auto;border-right:1px solid #ddd;border-left:1px solid #ddd;padding:1em; min-height:100%;">
		<h1>Agenda</h1>
		{{ action }}
	</body>
</html>